@mixin no-wrap($lines) {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: $lines;
	-webkit-box-orient: vertical;
}

//文本超过行数显示省略号
@mixin text-overflow($line: 2) {
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: $line;
	line-clamp: $line;
	-webkit-box-orient: vertical;
}

/* 四周阴影 */
@mixin box-shadow($bulr: 10px, $color: rgba(189, 205, 211, 0.5)) {
	-webkit-box-shadow: 0 0 $bulr $color;
	-moz-box-shadow: 0 0 $bulr $color;
	box-shadow: 0 0 $bulr $color;
}

// flex布局
@mixin layout($dir: column, $justify: center, $align: right) {
	display: flex;
	flex-direction: $dir;
	justify-content: $justify;
	align-items: $align;
}

@mixin userselect($val: none) {
	-webkit-user-select: $val;
	-moz-user-select: $val;
	-ms-user-select: $val;
	user-select: $val;
}
