<!DOCTYPE html>
<html lang="zh">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/common.css' />
    <style media="screen">
      body{font-size: 0;}
      .navtitle{width:100%;line-height: 50px;color: #000;font-size: 22px;text-align: center;margin:20px auto;}
      .demonavlist{width:80%;margin:10px auto;}
      .demonavitem{display: block;line-height: 30px;margin:6px;color: #666;font-size: 18px;}
      .demonavitem:hover{color: #000;}
    </style>
  </head>
  <body>
    <h5 class="navtitle">各canvas练习源码导航</h5>
    <div class="demonavlist">
      <a href="/staticpage/helloworld.htm" class="demonavitem" alt="helloworld">canvas入门-初见</a>
        <a href="/canvasBasics" class="demonavitem" alt="canvas 基础练习">canvasBasics</a>
        <a href="/canvasBasics2" class="demonavitem" alt="canvas 基础练习">canvasBasics2</a>
        <a href="/staticpage/canvasclock.htm" class="demonavitem" alt="用canvas画时钟">canvasclock</a>
        <a href="/staticpage/hitdetection.htm" class="demonavitem" alt="碰撞检测">hit detection</a>
    </div>
  </body>
</html>
