<!--
 * @Author: your name
 * @Date: 2019-11-21 22:00:00
 * @LastEditTime: 2019-11-24 10:34:52
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \gitee\study\html5\canvas\views\test.ejs
 -->
<!DOCTYPE html>
<html lang="zh">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/common.css' />
    <style media="screen">
      html,body{font-size: 0;width:100%;height:100%}
      .mycanvas{box-shadow:0 0 10px 1px #999;visibility:hidden;}
    </style>
  </head>
  <body>
    <canvas id="mycanvas" class="mycanvas">OH！！您的浏览器居然不支持Canvas绘图功能！建议使用最新的Chrome浏览器！</canvas>
    <script type="module" src="/js/test3.js"></script>
    <!-- <script type="module">
      import {longVariable} from '/js/test.js';
      import {mytest3,mytest2} from '/js/test3.js';
      console.log(mytest2)
      console.log('module1:'+longVariable);
    </script>
    <script type="module">
    </script> -->
  </body>
</html>
