<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/common.css' />
  </head>
  <body>
    <div class="demonavlist">
      <a href="/" class="demonavitem"></a>
    </div>
  </body>
</html>
